In [22]:
%load_ext autoreload
%autoreload 2

import sys
import os 
import pandas as pd
import numpy as np

import soepy

from dev_library import plot_basics_choices
from dev_library import plot_basics_wages
from dev_library import *
import pandas as pd
pd.set_option('display.max_rows', 500)
sys.path.insert(0, os.environ["PROJECT_DIR"] + "/estimations/estimation-current")
os.chdir(os.environ["PROJECT_DIR"] + "/estimations/estimation-current")
from moments import get_moments

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [29]:
fname = os.environ["PROJECT_DIR"] + "/resources/soepcore_struct_prep.dta"
df_obs = pd.read_stata(fname, convert_categoricals = False)

In [30]:
df_obs = df_alignment(df_obs, is_obs=True)
df_obs.loc[(0, slice(25, 35)), :]

/home/peisenha/external-storage/ownCloud/office/projects/structExpectations/development/library/dev_library.py:61: FutureWarning: inplace is deprecated and will be removed in a future version.
  df_int.index.set_levels(range(num_persons), level="Identifier", inplace=True)

                  Education_Level Experience_Part_Time Experience_Full_Time  \
Identifier Period
0          25                 NaN                  NaN                  NaN
           26                 NaN                  NaN                  NaN
           27                 NaN                  NaN                  NaN
           28                 NaN                  NaN                  NaN
           29                 NaN                  NaN                  NaN
           30                 NaN                  NaN                  NaN
           31                 NaN                  NaN                  NaN
           32                 Low                  2.0                 33.0
           33                 NaN                  NaN                  NaN
           34                 NaN                  NaN                  NaN
           35                 Low                  2.0                 36.0

                  Age_Youngest_Child Number_of_Children Partner_Indicator  \
Identifier Period
0          25                    NaN                NaN               NaN
           26                    NaN                NaN               NaN
           27                    NaN                NaN               NaN
           28                    NaN                NaN               NaN
           29                    NaN                NaN               NaN
           30                    NaN                NaN               NaN
           31                    NaN                NaN               NaN
           32                   -1.0                0.0               0.0
           33                    NaN                NaN               NaN
           34                    NaN                NaN               NaN
           35                   -1.0                0.0               0.0

                  Choice Wage_Observed
Identifier Period
0          25        NaN           NaN
           26        NaN           NaN
           27        NaN           NaN
           28        NaN           NaN
           29        NaN           NaN
           30        NaN           NaN
           31        NaN           NaN
           32       Full     12.744263
           33        NaN           NaN
           34        NaN           NaN
           35       Full     12.813683