In [2]:
import pickle as pkl
import pandas as pd
import numpy as np
import os

import soepy as sp

In [3]:
os.chdir("/home/peisenha/projects/structExpectations/analysis/estimation/basecamp")
model_params = pd.read_pickle("resources/model_params.pkl")
model_spec = "resources/model_spec_init.yml"

In [36]:
model_params

                              value  upper     lower  fixed
category      name
const_wage_eq gamma_0s1    1.894936  3.700  1.380000  False
              gamma_0s2    1.923508  3.700  1.380000  False
              gamma_0s3    2.212359  3.700  1.380000  False
exp_returns   gamma_1s1    0.151907  0.500  0.001000  False
              gamma_1s2    0.232615  0.500  0.001000  False
              gamma_1s3    0.256144  0.500  0.001000  False
exp_accm      g_s1         0.100000  0.500  0.001000   True
              g_s2         0.200000  0.500  0.001000   True
              g_s3         0.250000  0.500  0.001000   True
exp_deprec    delta_s1     0.020000  0.200  0.001000   True
              delta_s2     0.020000  0.200  0.001000   True
              delta_s3     0.020000  0.200  0.001000   True
hetrg_unobs   theta_p1     0.000000 -0.000 -0.103099   True
              theta_f1     0.000000 -0.000 -0.134978   True
shares        share_1      0.000000  0.950 -0.001000   True
sd_wage_shock sigma_1      0.389763  1.000  0.001000  False
              sigma_2      0.439060  1.000  0.001000  False
disutil_work  no_kids_f    0.033855  2.000  0.001000  False
              no_kids_p   -0.169447 -0.001 -1.500000  False
              yes_kids_f   0.275070  2.000  0.001000  False
              yes_kids_p  -0.195858 -0.001 -1.500000  False
              child_02_f   0.108120  0.200  0.001000  False
              child_02_p  -0.018120 -0.001 -1.500000  False
              child_35_f   0.013053  0.200  0.001000  False
              child_35_p  -0.048731 -0.001 -1.500000  False
              child_610_f  0.005738  0.200  0.001000  False
              child_610_p -0.126447 -0.001 -1.500000  False

In [4]:

# Generate simulated dataset
df = sp.simulate(model_params, model_spec)

In [5]:
df = df.set_index(["Identifier", "Period"]).sort_index()

In [22]:

df.columns

Index(['Education_Level', 'Lagged_Choice', 'Experience_Part_Time',
       'Experience_Full_Time', 'Type', 'Age_Youngest_Child',
       'Partner_Indicator', 'Choice', 'Log_Systematic_Wage', 'Period_Wage_P',
       'Period_Wage_F', 'Non_Consumption_Utility_N',
       'Non_Consumption_Utility_P', 'Non_Consumption_Utility_F',
       'Flow_Utility_N', 'Flow_Utility_P', 'Flow_Utility_F',
       'Continuation_Value_N', 'Continuation_Value_P', 'Continuation_Value_F',
       'Value_Function_N', 'Value_Function_P', 'Value_Function_F',
       'Wage_Observed'],
      dtype='object')

In [35]:
df_low = df[(df["Education_Level"] == 0)]
df_low.loc[(slice(None), 0), "Age_Youngest_Child"].value_counts(normalize=True)

-1    0.633777
 1    0.114152
 0    0.081489
 2    0.077346
 3    0.067771
 4    0.025465
Name: Age_Youngest_Child, dtype: float64

In [38]:
df_first = df.groupby("Period").first()

In [40]:
df["has_kid"] = df["Age_Youngest_Child"] > -1

In [43]:
df.groupby("has_kid")["Choice"].value_counts(normalize=True)

AttributeError: 'Series' object has no attribute 'sort'