In [1]:
%load_ext autoreload
%autoreload 2

import sys
import os 
import pandas as pd
import numpy as np

import soepy

from dev_library import plot_basics_choices
from dev_library import plot_basics_wages
from dev_library import *
import pandas as pd
pd.set_option('display.max_rows', 500)
sys.path.insert(0, os.environ["PROJECT_DIR"] + "/estimations/estimation-current")
os.chdir(os.environ["PROJECT_DIR"] + "/estimations/estimation-current")
from moments import get_moments

In [2]:
fname = os.environ["PROJECT_DIR"] + "/resources/soepcore_struct_prep.dta"
df_obs = pd.read_stata(fname, convert_categoricals=False)
df_obs = df_alignment(df_obs)

params_start = pd.read_pickle("start.soepy.pkl")
fname  = "resources/model_spec_init.yml"
df_sim = df_alignment(soepy.simulate(params_start, fname))

In [11]:
_ = get_moments(df_obs)

In [12]:
df_grid = pd.read_pickle("df-grid.pkl")

df_grid

                                                 Value
Choice Education_Level Experience_Full_Time
Full   High            5                     22.159203
                       6                     22.121610
                       7                     21.981809
                       8                     23.198293
                       9                     21.832242
                       10                    23.603182
                       11                    23.785402
                       12                    24.505621
                       13                    24.544266
                       14                    23.759492
                       15                    23.670908
                       16                    23.987435
                       17                    23.533134
                       18                    23.971123
                       19                    25.169990
       Medium          0                     11.334876
                       1                     12.113778
                       2                     12.660663
                       3                     13.143393
                       4                     13.668207
                       5                     14.256311
                       6                     14.440622
                       7                     14.556195
                       8                     14.978471
                       9                     15.814233
                       10                    15.483211
                       11                    16.364294
                       12                    16.054180
                       13                    16.102925
                       14                    16.195581
                       15                    16.333973
                       16                    16.739065
                       17                    17.261750
                       18                    17.064481
                       19                    17.371031
       Low             0                      9.868569
                       1                     10.239567
                       2                     10.394230
                       3                     10.881779
                       4                     10.852332
                       5                     12.044556
                       6                     12.363630
                       7                     12.333483
                       8                     12.121690
                       9                     11.970162
                       10                    12.559610
                       11                    12.610567
                       12                    12.733649
                       13                    13.511988
                       14                    13.419264
                       15                    14.292070
                       16                    13.924820
                       17                    14.096832
                       18                    13.775285
                       19                    14.066424