In [32]:
import sys
import os 
import pandas as pd
import numpy as np

import soepy

from dev_library import plot_basics_choices
from dev_library import plot_basics_wages
from dev_library import df_alignment

import pandas as pd
pd.set_option('display.max_rows', 500)
sys.path.insert(0, os.environ["PROJECT_DIR"] + "/estimations/peisenha_exploration")

In [33]:
fname = os.environ["PROJECT_DIR"] + "/estimations/peisenha_exploration"
df_step  = pd.read_pickle(fname + "/steps.soepy.pkl").tail(31).loc[0]
df_step.to_pickle(fname + "/step.soepy.pkl")

In [23]:
df_start = pd.read_pickle(fname + "/start.soepy.pkl")

In [24]:
df_start["value"]

category       name
const_wage_eq  gamma_0s1        2.006523
               gamma_0s2        2.052223
               gamma_0s3        2.117786
exp_returns    gamma_1s1        0.135642
               gamma_1s2        0.210134
               gamma_1s3        0.312074
exp_accm       g_s1             0.136679
               g_s2             0.247751
               g_s3             0.251999
exp_deprec     delta_s1         0.020000
               delta_s2         0.020000
               delta_s3         0.020000
hetrg_unobs    theta_p1        -0.633038
               theta_f1        -0.921103
shares         share_1          0.522798
sd_wage_shock  sigma_1          0.349414
               sigma_2          0.404907
disutil_work   no_kids_f        0.429523
               no_kids_p       -0.418255
               yes_kids_f       1.324608
               yes_kids_p      -0.396018
               child_02_f       0.105425
               child_02_p      -0.043021
               child_35_f       0.031437
               child_35_p      -0.162758
               child_610_f      0.027559
               child_610_p     -0.357365
benefits_base                 200.000000
delta                           0.980000
mu                             -0.560000
Name: value, dtype: float64

In [25]:
df_step["value"]

Step  category       name
0     const_wage_eq  gamma_0s1          1.915516
                     gamma_0s2          2.073674
                     gamma_0s3          2.188551
      exp_returns    gamma_1s1          0.153794
                     gamma_1s2          0.186898
                     gamma_1s3          0.287774
      exp_accm       g_s1               0.118707
                     g_s2               0.260311
                     g_s3               0.249286
      exp_deprec     delta_s1           0.020000
                     delta_s2           0.020000
                     delta_s3           0.020000
      hetrg_unobs    theta_p1          -0.630255
                     theta_f1          -0.946860
      shares         share_1            0.682981
      sd_wage_shock  sigma_1            0.356500
                     sigma_2            0.447437
      disutil_work   no_kids_f          0.530702
                     no_kids_p         -0.448117
                     yes_kids_f         1.435933
                     yes_kids_p        -0.490616
                     child_02_f         0.089280
                     child_02_p        -0.271643
                     child_35_f         0.001833
                     child_35_p        -0.336626
                     child_610_f        0.028473
                     child_610_p       -0.397101
      benefits_base                   200.000000
      delta                             0.980000
      mu                               -0.560000
      fval           fval           16432.425896
Name: value, dtype: float64